{% set sponsors = sponsors() %}
{% if sponsors|length > 0 %}
    <div class="col-12">
        <div class="card">
            <div class="card-status-top bg-primary"></div>
            <div class="card-header bg-primary-lt">
                <h3 class="card-title">
                    <twig:ux:icon name="fa6-solid:handshake" />
                    Sponsoren
                </h3>
            </div>
            <div class="card-body text-center">
                <div class="row justify-content-center">

                    {% for sponsor in sponsors %}
                        {% set columns = sponsor.level.main ? '12' : '6' %}
                        {% set filterName = sponsor.level.main ? 'sponsor_index_main' : 'sponsor_index' %}

                        <div class="col-{{ columns }} mb-2 d-flex align-items-center justify-content-center">
                            {% set image %}
                                <img src="{{ sponsor.image.filePath|imagine_filter(filterName, { background: { color: sponsor.backgroundColor|default('#ffffff') }}) }}" class="img-thumbnail rounded"/>
                            {% endset %}

                            {% if sponsor.url is null %}
                                {{ image|raw }}
                            {% else %}
                                <a href="{{ sponsor.url|short_url(['sponsor']) }}" target="_blank" rel="noreferrer">
                                    {{ image|raw }}
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
