{% extends '@admin/_layout/layout.html.twig' %}

{% set pagePreTitle = 'List' %}
{% set pageTitle = 'User' %}

{% block pageTitleActionsButtons %}
    <a class="btn btn-primary" href="{{ path('app_admin_user_create') }}">Create</a>
{% endblock %}

{% block pageBody %}
    {% embed '_partials/pagination_table.html.twig' with { title: 'Users'} %}
        {% block paginationHeader %}
            <th class="w-1">Id</th>
            <th>Email</th>
            <th></th>
        {% endblock %}
        {% block paginationRow %}
            <td>{{ object.id }}</td>
            <td>{{ object.email }}</td>
            <td class="text-end">
                <twig:pagination:cta
                        remove="{{ path('app_admin_user_remove', { user: object.id }) }}"
                        edit="{{ path('app_admin_user_edit', { user: object.id }) }}"
                />
            </td>
        {% endblock %}
    {% endembed %}
{% endblock %}
