{% extends 'admin/_layout/layout.html.twig' %}

{% set pagePreTitle = 'List' %}
{% set pageTitle = 'Files' %}

{% block pageTitleActionsButtons %}
    <a class="btn btn-primary" href="{{ path('app_admin_files_directory_create') }}">Create directory</a>
    <a class="btn btn-primary" href="{{ path('app_admin_files_upload') }}">Upload file</a>
{% endblock %}

{% block pageBody %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <span class="badge">{{ directories|length + files|length }}</span>
                Files
            </h3>
        </div>
        <table class="table card-table table-vcenter text-nowrap">
            <thead>
            <tr>
                <th>Name</th>
                <th class="w-1"></th>
            </tr>
            </thead>
            <tbody>
            {% if directory is not null %}
                <tr>
                    <td>
                        <a
                            {% if directory.parent is not null %}
                                href="{{ path('app_admin_files_directory', { directory: directory.parent.id }) }}"
                            {% else %}
                                href="{{ path('app_admin_files_index') }}"
                            {% endif %}
                        >
                            ..
                        </a>
                    </td>
                    <td></td>
                </tr>
            {% endif %}
            {% for directory in directories %}
                <tr>
                    <td>
                        <a href="{{ path('app_admin_files_directory', { directory: directory.id }) }}">
                            {{ directory.name }}
                        </a>
                    </td>
                    <td class="text-end">
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-primary" href="{{ path('app_admin_files_directory_edit', { directory: directory.id }) }}">
                                <span class="iconify" data-icon="fa6-solid:pencil"></span>
                            </a>
                            <a class="btn btn-danger" href="{{ path('app_admin_files_directory_remove', { directory: directory.id }) }}">
                                <span class="iconify" data-icon="fa6-solid:trash"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            {% for file in files %}
                <tr>
                    <td>{{ file }}</td>
                    <td class="text-end">
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-primary" href="{{ path('app_file', { uuid: file.uuid, extension: file.extension }) }}" target="_blank">
                                <span class="iconify" data-icon="fa6-solid:arrow-up-right-from-square"></span>
                            </a>
                            <a class="btn btn-primary" href="{{ path('app_admin_user_edit', { user: file.id }) }}">
                                <span class="iconify" data-icon="fa6-solid:pencil"></span>
                            </a>
                            <a class="btn btn-danger" href="{{ path('app_admin_files_file_remove', { file: file.id }) }}">
                                <span class="iconify" data-icon="fa6-solid:trash"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
