<div {{ attributes }}>

    <div class="space-y">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Personen Gruppe</h3>
            </div>
            <div class="card-body">
                {{ form_row(form.name) }}
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Mitglieder</h3>
                <div class="card-actions">
                    <button data-action="live#action" data-action-name="addCollectionItem(name=[members])" type="button" class="btn btn-outline-primary">
                        <span class="iconify icon" data-icon="fa6-solid:circle-plus"></span>
                        Add
                    </button>
                </div>
            </div>
            <table class="table card-table text-nowrap table-borderless">
                <thead>
                <tr>
                    <th>Person</th>
                    <th>Job</th>
                    <th>Position</th>
                    <th class="w-1"></th>
                </tr>
                </thead>
                <tbody>
                {% for key, itemForm in form.members %}
                    <tr>
                        <td>{{ form_row(itemForm.person, { label: false }) }}</td>
                        <td>{{ form_row(itemForm.jobTitle, { label: false }) }}</td>
                        <td>{{ form_row(itemForm.position, { label: false }) }}</td>
                        <td class="text-end">
                            <button data-action="live#action" data-action-name="removeCollectionItem(name=[members],index={{ key }})" type="button" class="btn btn-icon btn-outline-danger">
                                <span class="iconify icon" data-icon="fa6-solid:trash"></span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% do form.members.setRendered %}
</div>
