<div {{ attributes }}>

    <div class="space-y">
        <twig:bs:card header="Team">
            <twig:bs:row>
                <twig:bs:col md="6">{{ form_row(form.name) }}</twig:bs:col>
                <twig:bs:col md="6">{{ form_row(form.image) }}</twig:bs:col>
            </twig:bs:row>
        </twig:bs:card>

        <twig:bs:card header="Liga">
            <twig:bs:row>
                <twig:bs:col md="6">{{ form_row(form.league) }}</twig:bs:col>
                <twig:bs:col md="6">{{ form_row(form.season) }}</twig:bs:col>
            </twig:bs:row>
        </twig:bs:card>

        <twig:bs:card header="Alter">
            <twig:bs:row>
                <twig:bs:col md="4">{{ form_row(form.ageCategory) }}</twig:bs:col>
                <twig:bs:col md="4">{{ form_row(form.ageGroup) }}</twig:bs:col>
                <twig:bs:col md="4">{{ form_row(form.juniorAge) }}</twig:bs:col>
            </twig:bs:row>
        </twig:bs:card>

        <twig:bs:card header="Verlinkungen">
            <twig:bs:row>
                <twig:bs:col md="6">{{ form_row(form.currentMatchday) }}</twig:bs:col>
                <twig:bs:col md="6">{{ form_row(form.handballNetId, { attr: { placeholder: 'handball4all.westfalen.867086' } }) }}</twig:bs:col>
            </twig:bs:row>
        </twig:bs:card>

        <twig:bs:card header="Social Media und Kontakt">
            <twig:bs:row>
                <twig:bs:col md="3">{{ form_row(form.facebook) }}</twig:bs:col>
                <twig:bs:col md="3">{{ form_row(form.instagram) }}</twig:bs:col>
                <twig:bs:col md="3">{{ form_row(form.tiktok) }}</twig:bs:col>
                <twig:bs:col md="3">{{ form_row(form.emailAddress) }}</twig:bs:col>
            </twig:bs:row>
        </twig:bs:card>

        <twig:bs:card header="Einstellungen">
            {{ form_row(form.gender) }}
            {{ form_row(form.enabled) }}
            {{ form_row(form.portraits) }}
        </twig:bs:card>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Spieler</h3>
                <div class="card-actions">
                    <button data-action="live#action" data-live-action-param="addPlayer" type="button" class="btn btn-outline-primary">
                        <twig:ux:icon class="icon" name="fa6-solid:circle-plus"/>
                        Hinzuf端gen
                    </button>
                </div>
            </div>
            <table class="table card-table text-nowrap table-borderless">
                <thead>
                <tr>
                    <th>Person</th>
                    <th>Nummer</th>
                    <th>Position</th>
                    <th>Bild</th>
                    <th class="w-1"></th>
                </tr>
                </thead>
                <tbody>
                {% for key, itemForm in form.players %}
                    <tr>
                        <td>{{ form_row(itemForm.person, { label: false }) }}</td>
                        <td>{{ form_row(itemForm.number, { label: false }) }}</td>
                        <td>{{ form_row(itemForm.position, { label: false }) }}</td>
                        <td>{{ form_row(itemForm.image, { label: false }) }}</td>
                        <td class="text-end">
                            <button data-action="live#action" data-live-action-param="removePlayer" data-live-index-param="{{ key }}" type="button" class="btn btn-icon btn-outline-danger">
                                <twig:ux:icon class="icon" name="fa6-solid:trash"/>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="card-footer d-flex justify-content-right">
                <button data-action="live#action" data-live-action-param="addPlayer" type="button" class="btn btn-outline-primary ms-auto">
                    <twig:ux:icon class="icon" name="fa6-solid:circle-plus"/>
                    Hinzuf端gen
                </button>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Staff</h3>
                <div class="card-actions">
                    <button data-action="live#action" data-live-action-param="addStaff" type="button" class="btn btn-outline-primary">
                        <twig:ux:icon class="icon" name="fa6-solid:circle-plus"/>
                        Hinzuf端gen
                    </button>
                </div>
            </div>
            <table class="table card-table text-nowrap table-borderless">
                <thead>
                <tr>
                    <th>Person</th>
                    <th>Position</th>
                    <th>Bild</th>
                    <th class="w-1"></th>
                </tr>
                </thead>
                <tbody>
                {% for key, itemForm in form.staffs %}
                    <tr>
                        <td>{{ form_row(itemForm.person, { label: false }) }}</td>
                        <td>{{ form_row(itemForm.position, { label: false }) }}</td>
{#                        <td>{{ form_row(itemForm.image, { label: false }) }}</td>#}
                        <td class="text-end">
                            <button data-action="live#action" data-live-action-param="removeStaff" data-live-index-param="{{ key }}" type="button" class="btn btn-icon btn-outline-danger">
                                <twig:ux:icon class="icon" name="fa6-solid:trash"/>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="card-footer d-flex justify-content-right">
                <button data-action="live#action" data-live-action-param="addStaff" type="button" class="btn btn-outline-primary ms-auto">
                    <twig:ux:icon class="icon" name="fa6-solid:circle-plus"/>
                    Hinzuf端gen
                </button>
            </div>
        </div>
    </div>

    {% do form.players.setRendered %}
    {% do form.staffs.setRendered %}
</div>
