{% extends '@admin/_layout/layout.html.twig' %}

{% set pagePreTitle = 'Liste' %}
{% set pageTitle = 'Downloads' %}

{% block pageTitleActionsButtons %}
    <twig:crud:create crud="{{ crud }}"/>
{% endblock %}

{% block pageBody %}
    <twig:pagination:table :title="pageTitle" :iterable="iterable">
        <twig:block name="tableHeader">
            <th class="w-1"></th>
            <th class="w-1">Id</th>
            <th>Name</th>
            <th>URI</th>
            <th>File</th>
            <th></th>
        </twig:block>
        <twig:block name="tableRow">
            <twig:crud:row :crud="crud" :object="object" enabled="{{ object.enabled }}">
                <td>{{ object.id }}</td>
                <td>{{ object.name }}</td>
                <td>{{ object.uri }}</td>
                <td>{{ object.file is null ? '-' : object.file.name }}</td>
            </twig:crud:row>
        </twig:block>
    </twig:pagination:table>
{% endblock %}
