{% set cardFooter %}
    {% block cardFooter %}
    {% endblock %}
{% endset %}

<twig:bs:card class="mb-3" statusTop="primary">
    <twig:block name="header">
        <twig:bs:card:header title="{{ article.title }}">
            <twig:bs:card:actions>
                <twig:bs:button type="link" class="btn-icon copy-to-clipboard" data-clipboard-text="{{ url('app_news_article', { id: article.id }) }}" icon="fa6-solid:share-nodes"/>
            </twig:bs:card:actions>
        </twig:bs:card:header>
    </twig:block>
    <twig:block name="body">
        <div class="row">
            {% if article.image is not null %}
                <div class="col-12 col-md-5">
                    <twig:file:image file="{{ article.image }}" width="450"/>
                </div>
            {% endif %}
            <div class="col-12{% if article.image is not null %} col-md{% endif %}">
                <twig:bs:card:body>
                    <twig:bs:card:text content="{{ article.content }}"/>
                    <twig:bs:card:text>
                        <small class="text-muted">Erstellt am {{ article.createdAt|format_datetime }}</small>
                    </twig:bs:card:text>
                </twig:bs:card:body>
            </div>
        </div>
    </twig:block>
    <twig:block name="footer">
        {{ cardFooter }}
    </twig:block>
</twig:bs:card>
