<div class="container">
    <footer class="row py-4 my-4 border-top">
        <div class="col-12 col-md-4 mb-3 mb-md-0">
            <div class="text-muted mb-3">
                <div>Made with <twig:ux:icon name="noto:red-heart"></twig:ux:icon> by <b>Nikita Loges</b>.</div>
                <div class="fs-3">
                    <a href="https://loges.one" target="_blank">
                        <twig:ux:icon name="iconoir:www"></twig:ux:icon>
                    </a>
                    <a href="https://github.com/nicklog" target="_blank">
                        <twig:ux:icon name="fa6-brands:github"></twig:ux:icon>
                    </a>
                    <a href="https://www.linkedin.com/in/nikita-loges-84293185" target="_blank">
                        <twig:ux:icon name="fa6-brands:linkedin"></twig:ux:icon>
                    </a>
                    <a href="https://www.xing.com/profile/Nikita_Loges" target="_blank">
                        <twig:ux:icon name="fa6-brands:xing"></twig:ux:icon>
                    </a>
                </div>
            </div>
            <p class="text-muted">
                © {{ 'now'|date('Y') }} www.teutonia-riemke.de<br>
                Alle Rechte vorbehalten.
            </p>
            <p class="text-muted">
                info@teutonia-riemke.de
            </p>
        </div>

        <div class="col-12 col-md mb-3 mb-md-0">
            <h3>Links</h3>
            <ul class="nav flex-column">
                {% for link in links() %}
                    <li class="nav-item mb-2"><a href="{{ link.uri }}" class="nav-link p-0 text-muted" target="_blank" rel="noreferrer">{{ link.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-12 col-md mb-3 mb-md-0">
            <h3>Social Media</h3>
            <ul class="nav flex-column">
                {% if config_has('facebook') %}
                    <li class="nav-item mb-2"><a href="https://www.facebook.com/{{ config_get('facebook') }}" class="nav-link p-0 text-muted" target="_blank" rel="noreferrer">Facebook</a></li>
                {% endif %}

                {% if config_has('instagram') %}
                    <li class="nav-item mb-2"><a href="https://www.instagram.com/{{ config_get('instagram') }}/" class="nav-link p-0 text-muted" target="_blank" rel="noreferrer">Instagram</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="col-12 col-md mb-3 mb-md-0">
            <h3>Rechtliches</h3>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="{{ path('app_imprint') }}" class="nav-link p-0 text-muted">Impressum</a></li>
                <li class="nav-item mb-2"><a href="{{ path('app_privacy_policies') }}" class="nav-link p-0 text-muted">Datenschutz</a></li>
            </ul>
        </div>
    </footer>
</div>
