{% extends '/_layout/base.html.twig' %}

{% block body %}
    {% block navbar %}
        {% include '@page/_layout/navbar.html.twig' %}
    {% endblock %}

    <div class="page-wrapper">

        {{ block('pageHeader') }}

        <div class="page-body">
            <div class="container-xl">
                {% set flashes = app.flashes %}

                {% if flashes|length > 0 %}
                    <div class="row">
                        <div class="col">
                            {% for type, messages in flashes %}
                                {% for message in messages %}
                                    <twig:bs:alert type="{{ type }}" message="{{ message }}" important/>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {{ block('pageBody') }}
            </div>
        </div>

        {{ block('pageFooter') }}

    </div>
{% endblock %}

{% block pageHeader %}
    {% set pagePreTitle = block('pagePreTitle')|trim %}
    {% set pageTitle = block('pageTitle')|trim %}
    {%- set pageTitleActionsBlock = block('pageTitleActions')|trim -%}

    {% if pageTitleActionsBlock is not empty or pageTitle is not empty or pagePreTitle is not empty %}
        <div class="container-xl">
            <!-- Page title -->
            <div class="page-header d-print-none">
                <div class="row g-2 align-items-center">
                    {% if pageTitle is not empty or pagePreTitle is not empty %}
                        <div class="col">
                            {{- pagePreTitle|raw -}}
                            {{- pageTitle|raw -}}
                        </div>
                    {% endif %}

                    {% if pageTitleActionsBlock is not empty %}
                        <!-- Page title actions -->
                        <div class="col-12 col-md-auto ms-auto d-print-none">
                            {{ pageTitleActionsBlock|raw }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{%- block pagePreTitle -%}
    {%- set pagePreTitle = pagePreTitle|default -%}
    {%- if pagePreTitle is not empty -%}
        <div class="page-pretitle">
            {{ pagePreTitle }}
        </div>
    {%- endif -%}
{%- endblock -%}

{%- block pageTitle -%}
    {%- set pageTitle = pageTitle|default -%}
    {%- if pageTitle is not empty -%}
        <h2 class="page-title">
            {{ pageTitle }}
        </h2>
    {%- endif -%}
{%- endblock -%}

{%- block pageTitleActions -%}
    {%- set pageTitleActionsButtons = block('pageTitleActionsButtons') -%}
    {% if pageTitleActionsButtons is not empty %}
        <div class="btn-list">
            {{ pageTitleActionsButtons|raw }}
        </div>
    {% endif %}
{%- endblock -%}

{%- block pageTitleActionsButtons -%}
{%- endblock -%}

{% block pageBody %}
    {% block pageSubBody %}{% endblock %}
{% endblock %}

{% block pageFooter %}
    {% include '@page/_layout/footer.html.twig' %}
{% endblock %}
