{% extends '@admin/_layout/layout.html.twig' %}

{% set pagePreTitle = 'List' %}
{% set pageTitle = 'Person' %}

{% block pageTitleActionsButtons %}
    <twig:crud:create crud="{{ crud }}" />
{% endblock %}

{% block pageBody %}
    <twig:pagination:table title="Persons">
        <twig:block name="tableHeader">
            <th class="w-1">Id</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
        </twig:block>
        <twig:block name="tableRow">
            <twig:crud:row>
                <td>{{ object.id }}</td>
                <td>{{ object.firstName }}</td>
                <td>{{ object.lastName }}</td>
                <td>{{ object.emailAddress }}</td>
                <td>{{ object.phoneNumber is null ? '' : object.phoneNumber|phone_number_format }}</td>
            </twig:crud:row>
        </twig:block>
    </twig:pagination:table>
{% endblock %}
