{% extends '@admin/_layout/layout.html.twig' %}

{% set pagePreTitle = 'List' %}
{% set pageTitle = 'Person' %}

{% block pageTitleActionsButtons %}
    <a class="btn btn-primary" href="{{ path('app_admin_person_create') }}">Create</a>
{% endblock %}

{% block pageBody %}
    <twig:pagination:table title="Persons">
        <twig:block name="tableHeader">
            <th class="w-1">Id</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
        </twig:block>
        <twig:block name="tableRow">
            <twig:pagination:row
                    remove="{{ path('app_admin_person_remove', { person: object.id }) }}"
                    edit="{{ path('app_admin_person_edit', { person: object.id }) }}"
            >
                <td>{{ object.id }}</td>
                <td>{{ object.firstName }}</td>
                <td>{{ object.lastName }}</td>
                <td>{{ object.emailAddress }}</td>
                <td>{{ object.phoneNumber is null ? '' : object.phoneNumber|phone_number_format }}</td>
            </twig:pagination:row>
        </twig:block>
    </twig:pagination:table>
{% endblock %}
