<div {{ attributes }}>

    <div class="space-y">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Personen Gruppe</h3>
            </div>
            <div class="card-body">
                {{ form_row(form.name) }}
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Mitglieder</h3>
                <div class="card-actions">
                    <button data-action="live#action" data-live-action-param="addCollectionItem" data-live-name-param="[members]" type="button" class="btn btn-outline-primary">
                        <twig:ux:icon class="icon" name="fa6-solid:circle-plus"/>
                        Add
                    </button>
                </div>
            </div>
            <table class="table card-table text-nowrap table-borderless">
                <thead>
                <tr>
                    <th>Person</th>
                    <th>Job</th>
                    <th class="w-1">Kommissarisch?</th>
                    <th class="w-1">Position</th>
                    <th class="w-1"></th>
                </tr>
                </thead>
                <tbody>
                {% for key, itemForm in form.members %}
                    <tr>
                        <td>{{ form_row(itemForm.person, { label: false }) }}</td>
                        <td>{{ form_row(itemForm.jobTitle, { label: false }) }}</td>
                        <td>{{ form_row(itemForm.provisional, { label: false }) }}</td>
                        <td>{{ form_row(itemForm.position, { label: false }) }}</td>
                        <td class="text-end">
                            <button data-action="live#action" data-live-action-param="removeCollectionItem" data-live-name-param="[members]" data-live-index-param="{{ key }}" type="button" class="btn btn-icon btn-outline-danger">
                                <twig:ux:icon class="icon" name="fa6-solid:trash"/>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% do form.members.setRendered %}
</div>
