{% extends '@admin/_layout/layout.html.twig' %}

{% set pagePreTitle = 'List' %}
{% set pageTitle = 'Personen Gruppen' %}

{% block pageTitleActionsButtons %}
    <a class="btn btn-primary" href="{{ path('app_admin_person_group_create') }}">Create</a>
{% endblock %}

{% block pageBody %}
    {% embed '_partials/pagination_table.html.twig' with { title: 'Teams'} %}
        {% block paginationHeader %}
            <th class="w-1">Id</th>
            <th>Name</th>
            <th></th>
        {% endblock %}
        {% block paginationRow %}
            <td>{{ object.id }}</td>
            <td>{{ object.name }}</td>
            <td class="text-end">
                {% set preActions %}
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-outline-primary" href="{{ path('app_admin_person_group_up', { personGroup: object.id }) }}">
                            <span class="iconify-inline" data-icon="fa6-solid:arrow-up"></span>
                        </a>
                        <a class="btn btn-outline-primary" href="{{ path('app_admin_person_group_down', { personGroup: object.id }) }}">
                            <span class="iconify-inline" data-icon="fa6-solid:arrow-down"></span>
                        </a>
                    </div>
                {% endset %}
                {{ pagination_cta(
                    object,
                    path('app_admin_person_group_remove', { personGroup: object.id }),
                    path('app_admin_person_group_edit', { personGroup: object.id }),
                    path('app_admin_person_group_enable', { personGroup: object.id }),
                    path('app_admin_person_group_disable', { personGroup: object.id }),
                    preElements=preActions
                ) }}
            </td>
        {% endblock %}
    {% endembed %}
{% endblock %}
