{% extends '@admin/_layout/layout.html.twig' %}

{% block formCancel %}
    {% if formCancelLink is defined and formCancelLink is not empty %}
        <a href="{{ formCancelLink }}" class="btn btn-outline-danger">
            <twig:ux:icon class="icon" name="{{ formCancelIcon ?? 'fa-solid:times' }}" />
            {{ (formCancelLabel ?? 'Abbrechen')|trans }}
        </a>
    {% endif %}
{% endblock %}

{% block formSubmit %}
    {% if form.submit is defined %}
        {% set submitLabel %}
            <twig:ux:icon class="icon" name="{{ formSubmitIcon ?? 'fa6-solid:floppy-disk' }}" />
            {{ (formSubmitLabel ?? 'Speichern')|trans }}
        {% endset %}
        {{ form_widget(form.submit, {
            label: submitLabel,
            label_html: true
        }) }}
    {% else %}
        <button type="submit" class="btn btn-primary">
            <twig:ux:icon class="icon" name="{{ formSubmitIcon ?? 'fa6-solid:floppy-disk' }}" />
            {{ (formSubmitLabel ?? 'Speichern')|trans }}
        </button>
    {% endif %}

    {% if form.submitAndNew is defined %}
        {% set submitAndNewLabel %}
            <twig:ux:icon class="icon" name="{{ formSubmitIcon ?? 'fa6-solid:floppy-disk' }}" />
            {{ (formSubmitAndNewLabel ?? 'Speichern & Neu')|trans }}
        {% endset %}
        {{ form_widget(form.submitAndNew, {
            label: submitAndNewLabel,
            label_html: true
        }) }}
    {% endif %}
{% endblock %}

{% block formActions %}
    {{ block('formCancel') }}
    {{ block('formSubmit') }}
{% endblock %}

{% block pageTitleActionsButtons %}
    {{ block('formActions') }}
{% endblock %}

{% block pageWrapper %}
    {{ form_start(form) }}
    {{ parent() }}
    <div class="d-none">
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
