{% extends '@admin/_layout/layout.html.twig' %}

{% set formId = random() %}
{% set formSubmitIcon = formSubmitIcon|default('fa6-solid:floppy-disk') %}
{% set formCancelIcon = formCancelIcon|default('fa-solid:times') %}
{% set formSubmitLabel = formSubmitLabel|default('Speichern') %}
{% set formSubmitAndNewLabel = formSubmitAndNewLabel|default('Speichern & Neu') %}
{% set formCancelLabel = formCancelLabel|default('Abbrechen') %}

{% set formActions %}
    {% if formCancelLink is defined and formCancelLink is not empty %}
        {{ component('bs:button', {
            href: formCancelLink,
            title: formCancelLabel,
            icon: formCancelIcon,
            type: 'danger',
            outline: true,
        }) }}
    {% endif %}

    {% if form.submit is defined %}
        {% set submitLabel %}
            <twig:ux:icon class="icon" name="{{ formSubmitIcon }}"/>
            {{ formSubmitLabel|trans }}
        {% endset %}

        {{ form_widget(form.submit, {
            label: submitLabel,
            label_html: true,
            attr: {
                form: formId,
            }
        }) }}
    {% endif %}

    {% if form.submitAndNew is defined %}
        {% set submitAndNewLabel %}
            <twig:ux:icon class="icon" name="{{ formSubmitIcon }}"/>
            {{ formSubmitAndNewLabel|trans }}
        {% endset %}

        {{ form_widget(form.submitAndNew, {
            label: submitAndNewLabel,
            label_html: true,
            attr: {
                form: formId,
            }
        }) }}
    {% endif %}
{% endset %}

{% block pageTitleActionsButtons %}
    {{ formActions|raw }}
{% endblock %}

{% block pageBodyWrapper %}
    {{ form_start(form, {'attr': {'id': formId}}) }}

    {{ block('pageBody') }}

    <div class="d-none">
        {{ form_rest(form) }}
    </div>

    {{ form_end(form) }}

    {%- set pageTitleActionsBlock = block('pageTitleActions') -%}
    {% if pageTitleActionsBlock is not empty %}
        <div class="row mt-3">
            <div class="col-12 col-md-auto ms-auto d-print-none">
                {{ pageTitleActionsBlock|raw }}
            </div>
        </div>
    {% endif %}
{% endblock %}
