{% extends '@admin/_layout/layout.html.twig' %}

{% block formCancel %}
    {% if formCancelLink is defined and formCancelLink is not empty %}
        <a href="{{ formCancelLink }}" class="btn btn-link">
            <span class="iconify-inline" data-icon="{{ formCancelIcon ?? 'fa6-solid:times' }}"></span>
            {{ (formCancelLabel ?? 'Cancel')|trans }}
        </a>
    {% endif %}
{% endblock %}

{% block formSubmit %}
    {% if form.submit is defined %}
        {% set submitLabel %}
            <span class="iconify-inline" data-icon="{{ formSubmitIcon ?? 'fa6-solid:floppy-disk' }}"></span>
            {{ (formSubmitLabel ?? 'Submit')|trans }}
        {% endset %}
        {{ form_row(form.submit, {
            label: submitLabel,
            label_html: true
        }) }}
    {% else %}
        <button type="submit" class="btn btn-primary">
            <span class="iconify-inline" data-icon="{{ formSubmitIcon ?? 'fa6-solid:floppy-disk' }}"></span>
            {{ (formSubmitLabel ?? 'Submit')|trans }}
        </button>
    {% endif %}

    {% if form.submitAndNew is defined %}
        {% set submitAndNewLabel %}
            <span class="iconify-inline" data-icon="{{ formSubmitIcon ?? 'fa6-solid:floppy-disk' }}"></span>
            {{ (formSubmitAndNewLabel ?? 'Submit & New')|trans }}
        {% endset %}
        {{ form_row(form.submitAndNew, {
            label: submitAndNewLabel,
            label_html: true
        }) }}
    {% endif %}
{% endblock %}

{% block formActions %}
    {{ block('formCancel') }}
    {{ block('formSubmit') }}
{% endblock %}

{% block pageTitleActionsButtons %}
    {{ block('formActions') }}
{% endblock %}

{% block pageWrapper %}
    {{ form_start(form) }}
    {{ parent() }}
    <div class="d-none">
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
