{% extends '@admin/_layout/layout.html.twig' %}

{% set pagePreTitle = 'Liste' %}
{% set pageTitle = 'Teams' %}

{% block pageTitleActionsButtons %}
    <twig:crud:create crud="{{ crud }}"/>
{% endblock %}

{% block pageBody %}
    <twig:pagination:table :title="pageTitle" :search="form" :iterable="iterable">
        <twig:block name="searchFields">
            <twig:bs:row>
                <twig:bs:col md="4">{{ form_row(search.name) }}</twig:bs:col>
                <twig:bs:col md="4">{{ form_row(search.season) }}</twig:bs:col>
                <twig:bs:col md="4">{{ form_row(search.ageGroup) }}</twig:bs:col>
            </twig:bs:row>
        </twig:block>
        <twig:block name="tableHeader">
            <th class="w-1"></th>
            <th class="w-1">Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Type</th>
            <th>Saison</th>
            <th>Altersgruppe</th>
            <th class="w-1"></th>
        </twig:block>
        <twig:block name="tableRow">
            <twig:crud:row :object="object" enabled="{{ object.enabled }}">
                <td>{{ object.id }}</td>
                <td>{{ object.name }}</td>
                <td>{{ object.gender.value }}</td>
                <td>{{ object.ageCategory.value }}</td>
                <td>{{ object.season is null ? '' : object.season.displayName }}</td>
                <td>{{ object.ageGroup is null ? '' : object.ageGroup.displayName }}</td>
            </twig:crud:row>
        </twig:block>
    </twig:pagination:table>
{% endblock %}
