{% apply spaceless %}
    <div{{ attributes.defaults({class: 'card'}) }}>
        {% if statusTop %}
            <div class="card-status-top bg-{{ statusTop }}"></div>
        {% endif %}

        {% block header %}
            {% if header is not empty %}
                <twig:bs:card:header>{{ header }}</twig:bs:card:header>
            {% endif %}
        {% endblock %}
        {% block img_top %}
            {% if image is not empty and image.position in ['top', 'overlay'] %}
                {{ component('bs:image', image | filter((v, k) => k != 'position')) }}
            {% endif %}
        {% endblock %}
        {% block body %}
            {% if body is empty %}
                {% set body %}
                    {% block body_content %}{% endblock %}
                {% endset %}
            {% endif %}
            {% if image.position | default('top') == 'overlay' %}
                <div class="card-img-overlay">{{ body }}</div>
            {% else %}
                {% block content %}{% endblock %}
            {% endif %}
        {% endblock %}
        {% block img_bottom %}
            {% if image is not empty and image.position == 'bottom' %}
                {{ component('bs:image', image | filter((v, k) => k != 'position')) }}
            {% endif %}
        {% endblock %}
        {% block footer %}
            {% if footer is not empty %}
                <twig:bs:card:footer>{{ footer }}</twig:bs:card:footer>
            {% endif %}
        {% endblock %}
    </div>
{% endapply %}
