{# templates/login/index.html.twig #}
{% set bodyCssClasses = 'd-flex flex-column' %}
{% set pageCssClasses = 'page-center' %}

{% extends '@admin/_layout/layout.html.twig' %}

{% block body %}
    <div class="row g-0 flex-fill">
        <div class="col-12 col-lg-6 col-xl-4 border-top-wide border-primary d-flex flex-column justify-content-center">
            <div class="container container-tight py-4">
                <div class="text-center mb-4">
                    <a href="." class="navbar-brand navbar-brand-autodark"><img src="{{ asset('assets/images/logo.png', 'vite') }}" height="48" alt=""></a>
                </div>
                <h2 class="h3 text-center mb-3">
                    In deinem Konto anmelden
                </h2>
                <div class="card card-md">
                    <div class="card-body">
                        <twig:bs:button href="{{ path('hwi_oauth_service_redirect', {'service': 'azure' }) }}" type="azure" class="w-100" icon="skill-icons:azure-light" title="Mit Microsoft anmelden"/>
                    </div>
                    <div class="hr-text">oder</div>
                    <form class="card-body" action="{{ path('app_admin_login') }}" method="post" autocomplete="off">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        {% if error %}
                            <div class="alert alert-important alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="mb-3">
                            <label class="form-label">E-Mail-Addresse</label>
                            <input type="email" class="form-control" placeholder="E-Mail-Addresse" autocomplete="off" name="_username" value="{{ last_username }}">
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Passwort</label>
                            <div class="input-group input-group-flat">
                                <input type="password" class="form-control" placeholder="Passwort" autocomplete="off" name="_password">
                            </div>
                        </div>
                        <div class="form-footer">
                            <button type="submit" class="btn btn-primary w-100">
                                <twig:ux:icon class="icon" name="fa:sign-in"/>
                                Anmelden
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-8 d-none d-lg-block">
            {% set cover = 'assets/images/login/cover_%d.jpg'|format(random(1, 9)) %}
            <div class="bg-cover h-100 min-vh-100" style="background-image: url({{ absolute_url(asset(cover, 'vite'))|imgproxy('login_cover') }})"></div>
        </div>
    </div>
{% endblock %}
