{% extends '@admin/_layout/layout.html.twig' %}

{% set pagePreTitle = 'List' %}
{% set pageTitle = 'Sponsor' %}

{% block pageTitleActionsButtons %}
    <a class="btn btn-primary" href="{{ path('app_admin_sponsor_create') }}">Create</a>
{% endblock %}

{% block pageBody %}
    {% embed '_partials/pagination_table.html.twig' with { title: 'Sponsors'} %}
        {% block paginationHeader %}
            <th class="w-1"></th>
            <th class="w-1">Id</th>
            <th>Name</th>
            <th>Level</th>
            <th>Url</th>
            <th>Logo</th>
            <th class="w-1"></th>
        {% endblock %}
        {% block paginationRow %}
            <td>
                <twig:ux:icon:enabled enabled="{{ object.enabled }}" />
            </td>
            <td>{{ object.id }}</td>
            <td>{{ object.name }}</td>
            <td>{{ object.level.translatable|trans }}</td>
            <td>{{ object.url }}</td>
            <td>{{ object.image is null ? '' : object.image.pathName }}</td>
            <td class="text-end">
                <twig:pagination:cta
                        enabled="{{ object.enabled }}"
                        remove="{{ path('app_admin_sponsor_remove', { sponsor: object.id }) }}"
                        edit="{{ path('app_admin_sponsor_edit', { sponsor: object.id }) }}"
                        enable="{{ path('app_admin_sponsor_enable', { sponsor: object.id }) }}"
                        disable="{{ path('app_admin_sponsor_disable', { sponsor: object.id }) }}"
                />
            </td>
        {% endblock %}
    {% endembed %}
{% endblock %}
