{% extends '@admin/_layout/layout.html.twig' %}

{% set pagePreTitle = 'List' %}
{% set pageTitle = 'Sponsor' %}

{% block pageTitleActionsButtons %}
    <a class="btn btn-primary" href="{{ path('app_admin_sponsor_create') }}">Create</a>
{% endblock %}

{% block pageBody %}
    {% embed '_partials/pagination_table.html.twig' with { title: 'Sponsors'} %}
        {% block paginationHeader %}
            <th class="w-1"></th>
            <th class="w-1">Id</th>
            <th>Name</th>
            <th>Url</th>
            <th>Logo</th>
            <th class="w-1"></th>
        {% endblock %}
        {% block paginationRow %}
            <td>
                <span class="iconify-inline text-{% if object.enabled %}success{% else %}danger{% endif %}" data-icon="fa6-solid:circle"></span>
            </td>
            <td>{{ object.id }}</td>
            <td>{{ object.name }}</td>
            <td>{{ object.url }}</td>
            <td>{{ object.image is null ? '' : object.image.pathName }}</td>
            <td class="text-end">
                {{ pagination_cta(
                    object,
                    path('app_admin_sponsor_remove', { sponsor: object.id }),
                    path('app_admin_sponsor_edit', { sponsor: object.id }),
                    path('app_admin_sponsor_enable', { sponsor: object.id }),
                    path('app_admin_sponsor_disable', { sponsor: object.id }),
                ) }}
            </td>
        {% endblock %}
    {% endembed %}
{% endblock %}
