{% extends '@page/_layout/layout.html.twig' %}

{% set pagePreTitle = 'Mannschaft' %}
{% set pageTitle = team.name %}

{%- block javascripts -%}
    {{ parent() }}

    {% if team.handballNetId is not null %}
        <script type="text/javascript">
            (function (e, t, n, r, i, s, o) {
                e[i] = e[i] || function () {
                    (e[i].q = e[i].q || []).push(arguments)
                }, e[i].l = 1 * new Date;
                s = t.createElement(n), o = t.getElementsByTagName(n)[0];
                s.async = 1;
                s.src = r;
                o.parentNode.insertBefore(s, o)
            })(window, document, "script", 'https://www.handball.net/widgets/embed/v1.js', "_hb");

            _hb({
                widget: 'tabelle',
                teamId: '{{ team.handballNetId }}',
                container: 'handball-tabelle'
            });

            _hb({
                widget: 'spielplan',
                teamId: '{{ team.handballNetId }}',
                container: 'handball-spielplan'
            });
        </script>
    {% endif %}
{%- endblock -%}

{%- block pageTitleActionsButtons -%}
    {% if team.emailAddress is not null %}
        <a class="btn btn-primary btn-icon" href="mailto:{{ team.emailAddress }}" data-bs-toggle="tooltip" data-bs-title="{{ team.emailAddress }}" data-bs-placement="top">
            <twig:ux:icon class="icon" name="fa6-solid:at"/>
        </a>
    {% endif %}
    {% if team.tiktok is not null %}
        <a class="btn btn-tiktok btn-icon" href="https://www.tiktok.com/@{{ team.tiktok }}" target="_blank" rel="nofollow">
            <twig:ux:icon class="icon" name="fa6-brands:tiktok"/>
        </a>
    {% endif %}
    {% if team.instagram is not null %}
        <a class="btn btn-instagram btn-icon" href="https://instagram.com/{{ team.instagram }}" target="_blank" rel="nofollow">
            <twig:ux:icon class="icon" name="fa6-brands:instagram"/>
        </a>
    {% endif %}
    {% if team.facebook is not null %}
        <a class="btn btn-facebook btn-icon" href="https://facebook.com/{{ team.facebook }}" target="_blank" rel="nofollow">
            <twig:ux:icon class="icon" name="fa6-brands:facebook"/>
        </a>
    {% endif %}
{%- endblock -%}

{% block pageSubBody %}
    <div class="row row-cards">
        <div class="col-12 col-md-4 order-2 order-md-1">
            <div class="space-y">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Links</h3>
                    </div>
                    <div class="list-group list-group-flush">
                        {% if team.emailAddress is not null %}
                            <a href="mailto:{{ team.emailAddress }}" class="list-group-item list-group-item-action">
                                <twig:ux:icon class="icon me-2" name="fa6-solid:at"/>
                                {{ team.emailAddress }}
                            </a>
                        {% endif %}
                        {% if team.currentMatchday is not null %}
                            <a href="{{ team.currentMatchday }}" class="list-group-item list-group-item-action" target="_blank" rel="nofollow">handball4all.de</a>
                        {% endif %}
                        {% if team.handballNetId is not null %}
                            <a href="https://www.handball.net/mannschaften/{{ team.handballNetId }}/tabelle" class="list-group-item list-group-item-action" target="_blank" rel="nofollow">handball.net</a>
                        {% endif %}
                    </div>
                </div>

                {% if team.handballNetId is not null %}
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Tabelle</h3>
                        </div>
                        <div class="card-body p-0" id="handball-tabelle"></div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Spielplan</h3>
                        </div>
                        <div class="card-body p-2 pb-0" id="handball-spielplan"></div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-8 order-1 order-md-2">
            <div class="space-y">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            {% if team.season is not null %}
                                Saison {{ team.season.displayName }}
                                {% if team.league is not null %}
                                    - {{ team.league }}
                                {% endif %}
                            {% else %}
                                {{ team.name }}
                            {% endif %}
                        </h5>
                    </div>
                    {% if team.image is not null %}
                        <div class="card-img-bottom">
                            <twig:lightbox file="{{ team.image }}" lightbox="team">
                                <twig:file:image file="{{ team.image }}" filter="optimized" width="950"/>
                            </twig:lightbox>
                        </div>
                    {% endif %}
                </div>

                {% if team.staffs|length > 0 %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Trainerstab</h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table card-table table-vcenter text-nowrap">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Funktion</th>
                                    <th>E-Mail</th>
                                    <th>Telefon</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for staff in team.staffs %}
                                    <tr>
                                        <td>{{ staff.person }}</td>
                                        <td>{{ staff.position is null ? '' : staff.position.translatable|trans }}</td>
                                        <td>
                                            {% if staff.person.emailAddress is not null %}
                                                <a href="mailto:{{ staff.person.emailAddress }}">{{ staff.person.emailAddress }}</a>
                                            {% endif %}
                                        </td>
                                        <td>{{ staff.person.phoneNumber is null ? '' : staff.person.phoneNumber|phone_number_format }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}

                {% if team.players|length > 0 %}
                    {% if team.portraits %}
                        {{ _self.imageview(team) }}
                    {% else %}
                        {{ _self.tableview(team) }}
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% macro tableview(team) %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Kader</h5>
        </div>
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap">
                <thead>
                <tr>
                    <th>Nr.</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for player in team.getPlayersByNumber %}
                    <tr>
                        <td>{{ player.number|default('-') }}</td>
                        <td>{{ player }}</td>
                        <td>{{ player.position is null ? '-' : player.position.translatable|trans }}</td>
                        <td class="text-end">
                            {% if player.person.instagram is not null %}
                                <a href="{{ player.person.instagram }}" class="btn btn-sm btn-icon btn-link text-instagram">
                                    <twig:ux:icon class="icon" name="fa6-brands:instagram"/>
                                </a>
                            {% endif %}
                            {% if player.person.facebook is not null %}
                                <a href="{{ player.person.facebook }}" class="btn btn-sm btn-icon btn-link text-facebook">
                                    <twig:ux:icon class="icon" name="fa6-brands:facebook"/>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endmacro %}

{% macro imageview(team) %}
    <div class="row row-cards">

        {% for player in team.getPlayersByNumber %}
            <div class="col-sm-6 col-lg-4">
                <div class="card card-sm">
                    <a href="#" class="d-block">
                        {% if player.image is not null %}
                            <twig:lightbox file="{{ player.image }}" lightbox="team">
                                <twig:file:image file="{{ player.image }}" filter="team_player_portrait" class="card-img-top"/>
                            </twig:lightbox>
                        {% else %}
                            <img src="{{ absolute_url(asset('assets/images/handball.jpg', 'vite'))|imgproxy('team_player_portrait') }}" class="card-img-top">
                        {% endif %}
                    </a>
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div>
                                <div>{{ player }}</div>
                                <div class="text-secondary">{{ player.number|default('-') }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
