{% extends '@page/_layout/layout.html.twig' %}

{% set pagePreTitle = 'Mannschaft' %}
{% set pageTitle = team.name %}

{%- block javascripts -%}
    {{ parent() }}

    {% if team.handballNetId is not null %}
        <script type="text/javascript">
            (function (e, t, n, r, i, s, o) {
                e[i] = e[i] || function () {
                    (e[i].q = e[i].q || []).push(arguments)
                }, e[i].l = 1 * new Date;
                s = t.createElement(n), o = t.getElementsByTagName(n)[0];
                s.async = 1;
                s.src = r;
                o.parentNode.insertBefore(s, o)
            })(window, document, "script", 'https://www.handball.net/widgets/embed/v1.js', "_hb");

            _hb({
                widget: 'tabelle',
                teamId: '{{ team.handballNetId }}',
                container: 'handball-tabelle'
            });

            _hb({
                widget: 'spielplan',
                teamId: '{{ team.handballNetId }}',
                container: 'handball-spielplan'
            });
        </script>
    {% endif %}
{%- endblock -%}

{%- block pageTitleActionsButtons -%}
    {% if team.instagram is not null %}
        <a class="btn btn-ghost-instagram btn-icon" href="https://instagram.com/{{ team.instagram }}" target="_blank" rel="nofollow">
            <span class="iconify icon" data-icon="fa6-brands:instagram"></span>
        </a>
    {% endif %}
    {% if team.facebook is not null %}
        <a class="btn btn-ghost-facebook btn-icon" href="https://facebook.com/{{ team.facebook }}" target="_blank" rel="nofollow">
            <span class="iconify icon" data-icon="fa6-brands:facebook"></span>
        </a>
    {% endif %}
{%- endblock -%}

{% block pageSubBody %}
    <div class="row row-cards">
        <div class="col-12 col-md-4 order-2 order-md-1">
            <div class="space-y">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Links</h3>
                    </div>
                    <div class="list-group list-group-flush">
                        {% if team.currentMatchday is not null %}
                            <a href="{{ team.currentMatchday }}" class="list-group-item list-group-item-action" target="_blank" rel="nofollow">Aktueller Spieltag</a>
                        {% endif %}
                        {#                        <a href="#" class="list-group-item list-group-item-action">Trainingszeiten</a> #}
                        {#                        {% if team.facebook is not null %} #}
                        {#                            <a href="https://facebook.com/{{ team.facebook }}" class="list-group-item list-group-item-action" target="_blank" rel="nofollow">Facebook</a> #}
                        {#                        {% endif %} #}
                        {#                        {% if team.instagram is not null %} #}
                        {#                            <a href="https://instagram.com/{{ team.instagram }}" class="list-group-item list-group-item-action" target="_blank" rel="nofollow">Instagram</a> #}
                        {#                        {% endif %} #}
                    </div>
                </div>

                {% if team.handballNetId is not null %}
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Tabelle</h3>
                        </div>
                        <div class="card-body p-0" id="handball-tabelle"></div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Spielplan</h3>
                        </div>
                        <div class="card-body p-2 pb-0" id="handball-spielplan"></div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-8 order-1 order-md-2">
            <div class="space-y">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Saison 2022/2023</h5>
                    </div>
                    {% if team.image is not null %}
                        <div class="card-img-bottom">
                            <img src="{{ team.image.filePath|imagine_filter('optimized', { relative_resize: { widen: 950 } }) }}"/>
                        </div>
                    {% endif %}
                </div>

                {% if team.staffs|length > 0 %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Trainerstab</h5>
                        </div>
                        <table class="table card-table table-vcenter text-nowrap">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Funktion</th>
                                <th>E-Mail</th>
                                <th>Telefon</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for staff in team.staffs %}
                                <tr>
                                    <td>{{ staff.person }}</td>
                                    <td>{{ staff.position is null ? '' : staff.position.translatable|trans }}</td>
                                    <td>
                                        {% if staff.person.emailAddress is not null %}
                                            <a href="mailto:{{ staff.person.emailAddress }}">{{ staff.person.emailAddress }}</a>
                                        {% endif %}
                                    </td>
                                    <td>{{ staff.person.phoneNumber is null ? '' : staff.person.phoneNumber|phone_number_format }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

                {% if team.players|length > 0 %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Kader</h5>
                        </div>
                        <table class="table card-table table-vcenter text-nowrap">
                            <thead>
                            <tr>
                                <th>Nr.</th>
                                <th>Name</th>
                                <th>Position</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for player in team.getPlayersByNumber %}
                                <tr>
                                    <td>{{ player.number|default('-') }}</td>
                                    <td>{{ player.person }}</td>
                                    <td>{{ player.position is null ? '-' : player.position.translatable|trans }}</td>
                                    <td class="text-end">
                                        {% if player.person.instagram is not null %}
                                            <a href="{{ player.person.instagram }}" class="btn btn-sm btn-icon btn-link text-instagram">
                                                <span class="iconify icon" data-icon="fa6-brands:instagram"></span>
                                            </a>
                                        {% endif %}
                                        {% if player.person.facebook is not null %}
                                            <a href="{{ player.person.facebook }}" class="btn btn-sm btn-icon btn-link text-facebook">
                                                <span class="iconify icon" data-icon="fa6-brands:facebook"></span>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
