{% extends '@admin/_layout/layout.html.twig' %}


{% set pagePreTitle = 'Liste' %}
{% set pageTitle = 'Short URLs' %}

{% block pageTitleActionsButtons %}
    <twig:crud:create crud="{{ crud }}" />
{% endblock %}

{% block pageBody %}
    <twig:pagination:table title="Artikel">
        <twig:block name="tableHeader">
            <th class="w-1"></th>
            <th>Short URL</th>
            <th>Titel / Long URL</th>
            <th>Tags</th>
            <th>Visits</th>
            <th>Created</th>
            <th></th>
        </twig:block>
        <twig:block name="tableRow">
            <twig:crud:row>
                <td>
                    <twig:bs:button size="sm" type="primary" outline class="btn-icon copy-to-clipboard" data-clipboard-text="{{ object.shortUrl }}" icon="fa6-solid:copy" tooltip="In die Zwischenablage kopieren" />
                </td>
                <td>
                    <a href="{{ object.shortUrl }}" target="_blank">
                        {{ object.shortUrl }}
                    </a>
                </td>
                <td>
                    <a href="{{ object.longUrl }}" target="_blank">
                        {{ (object.title ?? object.longUrl)|u.truncate(50) }}
                    </a>
                </td>
                <td>
                    {% for tag in object.tags %}
                        <twig:bs:badge label="{{ tag }}" class="me-1"/>
                    {% endfor %}
                </td>
                <td>{{ object.visitsCount }}</td>
                <td>{{ object.dateCreated|format_datetime }}</td>
            </twig:crud:row>
        </twig:block>
    </twig:pagination:table>
{% endblock %}
