{% extends '_layout/base.html.twig' %}

{% block body %}
    {% block navbar %}
        {% include '_layout/navbar.html.twig' %}
    {% endblock %}

    <div class="page-wrapper">

        {{ block('pageHeader') }}

        <div class="page-body">
            <div class="container-xl">
                {{ block('pageBody') }}
            </div>
        </div>

        {{ block('pageFooter') }}

    </div>
{% endblock %}

{% block pageHeader %}
    <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none text-white">
            <div class="row g-2 align-items-center">
                <div class="col">
                    {{- block('pagePreTitle') -}}
                    {{- block('pageTitle') -}}
                </div>

                {%- set pageTitleActionsBlock = block('pageTitleActions') -%}
                {% if pageTitleActionsBlock is not empty %}
                    <!-- Page title actions -->
                    <div class="col-12 col-md-auto ms-auto d-print-none">
                        {{ pageTitleActionsBlock|raw }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{%- block pagePreTitle -%}
    {%- set pagePreTitle = pagePreTitle|default() -%}
    {%- if pagePreTitle is not empty -%}
        <div class="page-pretitle">
            {{ pagePreTitle }}
        </div>
    {%- endif -%}
{%- endblock -%}

{%- block pageTitle -%}
    {%- set pageTitle = pageTitle|default('Aktuelles') -%}
    {%- if pageTitle is not empty -%}
        <h2 class="page-title">
            {{ pageTitle }}
        </h2>
    {%- endif -%}
{%- endblock -%}

{%- block pageTitleActions -%}
    {%- set pageTitleActionsButtons = block('pageTitleActionsButtons') -%}
    {% if pageTitleActionsButtons is not empty %}
        <div class="btn-list">
            {{ pageTitleActionsButtons|raw }}
        </div>
    {% endif %}
{%- endblock -%}

{%- block pageTitleActionsButtons -%}
{%- endblock -%}

{% block pageBody %}
{% endblock %}

{% block pageFooter %}
    {% include '_layout/footer.html.twig' %}
{% endblock %}
