{% extends '_layout/base.html.twig' %}

{% block body %}
    {% block navbar %}
        {% include '_layout/navbar.html.twig' %}
    {% endblock %}

    <div class="page-wrapper">

        {{ block('pageHeader') }}

        <div class="page-body">
            <div class="container-xl">
                {{ block('pageBody') }}
            </div>
        </div>

        {{ block('pageFooter') }}

    </div>
{% endblock %}

{% block pageHeader %}
    <div class="container-xl">
        <!-- Page title -->
        <div class="page-header d-print-none text-white">
            <div class="row g-2 align-items-center">
                <div class="col">
                    {{- block('pagePreTitle') -}}
                    {{- block('pageTitle') -}}
                </div>

                {%- set pageTitleActionsBlock = block('pageTitleActions') -%}
                {% if pageTitleActionsBlock is not empty %}
                    <!-- Page title actions -->
                    <div class="col-12 col-md-auto ms-auto d-print-none">
                        {{ pageTitleActionsBlock|raw }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{%- block pagePreTitle -%}
    {%- set pagePreTitle = pagePreTitle|default() -%}
    {%- if pagePreTitle is not empty -%}
        <div class="page-pretitle">
            {{ pagePreTitle }}
        </div>
    {%- endif -%}
{%- endblock -%}

{%- block pageTitle -%}
    {%- set pageTitle = pageTitle|default('Aktuelles') -%}
    {%- if pageTitle is not empty -%}
        <h2 class="page-title">
            {{ pageTitle }}
        </h2>
    {%- endif -%}
{%- endblock -%}

{%- block pageTitleActions -%}
    {%- set pageTitleActionsButtons = block('pageTitleActionsButtons') -%}
    {% if pageTitleActionsButtons is not empty %}
        <div class="btn-list">
            {{ pageTitleActionsButtons|raw }}
        </div>
    {% endif %}
{%- endblock -%}

{%- block pageTitleActionsButtons -%}
{%- endblock -%}

{% block pageBody %}
{% endblock %}

{% block pageFooter %}
    <footer class="footer footer-transparent d-print-none">
        <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
                <div class="col-lg-auto ms-lg-auto">
                    <ul class="list-inline list-inline-dots mb-0">
                        <li class="list-inline-item"><a href="./license.html" class="link-secondary">License</a></li>
                        <li class="list-inline-item"><a href="https://github.com/tabler/tabler" target="_blank" class="link-secondary" rel="noopener">Source code</a></li>
                        <li class="list-inline-item">
                            <a href="https://github.com/sponsors/codecalm" target="_blank" class="link-secondary" rel="noopener">
                                <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon text-pink icon-filled icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"/>
                                </svg>
                                Sponsor
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                    <ul class="list-inline list-inline-dots mb-0">
                        <li class="list-inline-item">
                            Copyright &copy; {{ 'now'|date('Y') }}.
                            All rights reserved.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
