{% extends '@admin/_layout/layout.html.twig' %}

{% set pagePreTitle = 'List' %}
{% set pageTitle = 'Notification' %}

{% block pageTitleActionsButtons %}
    <a class="btn btn-primary" href="{{ path('app_admin_notification_create') }}">Create</a>
{% endblock %}

{% block pageBody %}
    {% embed '_partials/pagination_table.html.twig' with { title: 'Notifications'} %}
        {% block paginationHeader %}
            <th class="w-1">Id</th>
            <th>Title</th>
            <th></th>
        {% endblock %}
        {% block paginationRow %}
            <td>{{ object.id }}</td>
            <td>{{ object.title }}</td>
            <td class="text-end">
                <div class="btn-group btn-group-sm">
                    {% if object.enabled %}
                        <a class="btn btn-outline-success" href="{{ path('app_admin_notification_disable', { notification: object.id }) }}">
                            <span class="iconify-inline" data-icon="fa6-solid:circle"></span>
                        </a>
                    {% else %}
                        <a class="btn btn-outline-danger" href="{{ path('app_admin_notification_enable', { notification: object.id }) }}">
                            <span class="iconify-inline" data-icon="fa6-solid:circle"></span>
                        </a>
                    {% endif %}
                    <a class="btn btn-outline-primary" href="{{ path('app_admin_notification_edit', { notification: object.id }) }}">
                        <span class="iconify-inline" data-icon="fa6-solid:pencil"></span>
                    </a>
                    <a class="btn btn-outline-danger" href="{{ path('app_admin_notification_remove', { notification: object.id }) }}">
                        <span class="iconify-inline" data-icon="fa6-solid:trash"></span>
                    </a>
                </div>
            </td>
        {% endblock %}
    {% endembed %}
{% endblock %}
