{% extends '@admin/_layout/layout.html.twig' %}

{% set pagePreTitle = 'List' %}
{% set pageTitle = 'Notification' %}

{% block pageTitleActionsButtons %}
    <a class="btn btn-primary" href="{{ path('app_admin_notification_create') }}">Create</a>
{% endblock %}

{% block pageBody %}
    {% embed '_partials/pagination_table.html.twig' with { title: 'Notifications'} %}
        {% block paginationHeader %}
            <th class="w-1"></th>
            <th class="w-1">Id</th>
            <th>Title</th>
            <th></th>
        {% endblock %}
        {% block paginationRow %}
            <td>
                <twig:ux:icon:enabled enabled="{{ object.enabled }}" />
            </td>
            <td>{{ object.id }}</td>
            <td>{{ object.title }}</td>
            <td class="text-end">
                <twig:pagination:cta
                        enabled="{{ object.enabled }}"
                        remove="{{ path('app_admin_notification_remove', { notification: object.id }) }}"
                        edit="{{ path('app_admin_notification_edit', { notification: object.id }) }}"
                        enable="{{ path('app_admin_notification_enable', { notification: object.id }) }}"
                        disable="{{ path('app_admin_notification_disable', { notification: object.id }) }}"
                />
            </td>
        {% endblock %}
    {% endembed %}
{% endblock %}
