{% extends '@admin/_layout/layout.html.twig' %}

{% set pagePreTitle = 'List' %}
{% set pageTitle = 'Notification' %}

{% block pageTitleActionsButtons %}
    <a class="btn btn-primary" href="{{ path('app_admin_notification_create') }}">Create</a>
{% endblock %}

{% block pageBody %}
    <twig:pagination:table paginationTitle="Notifications">
        <twig:block name="tableHeader">
            <th class="w-1"></th>
            <th class="w-1">Id</th>
            <th>Titel</th>
            <th></th>
        </twig:block>
        <twig:block name="tableRow">
            <twig:pagination:row
                    enabled="{{ object.enabled }}"
                    remove="{{ path('app_admin_notification_remove', { notification: object.id }) }}"
                    edit="{{ path('app_admin_notification_edit', { notification: object.id }) }}"
                    enable="{{ path('app_admin_notification_enable', { notification: object.id }) }}"
                    disable="{{ path('app_admin_notification_disable', { notification: object.id }) }}"
            >
                <td>{{ object.id }}</td>
                <td>{{ object.title }}</td>
            </twig:pagination:row>
        </twig:block>
    </twig:pagination:table>
{% endblock %}
