{% extends '@page/_layout/layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        (function (e, t, n, r, i, s, o) {
            e[i] = e[i] || function () {
                (e[i].q = e[i].q || []).push(arguments)
            }, e[i].l = 1 * new Date;
            s = t.createElement(n), o = t.getElementsByTagName(n)[0];
            s.async = 1;
            s.src = r;
            o.parentNode.insertBefore(s, o)
        })(window, document, "script", 'https://www.handball.net/widgets/embed/v1.js', "_hb");
    </script>
    <script>
        _hb({
            widget: 'spielplan',
            clubId: 'handball4all.westfalen.1393',
            container: 'handball-spielplan'
        })
    </script>
{% endblock %}

{% block pageSubBody %}
    <div class="row">
        <div class="col">
            {% for notification in notifications %}
                <div class="alert alert-info">
                    <div class="d-flex">
                        <div class="d-none d-md-block">
                            <span class="iconify-inline icon alert-icon" data-icon="fa6-solid:circle-info"></span>
                        </div>
                        <div>
                            <h4 class="alert-title">{{ notification.title }}</h4>
                            {{ notification.content|striptags('<br><a><b><strong><span>')|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row row-cards">
        <div class="col-12 col-md-9">
            {% for article in articles %}
                <div class="card mb-3">
                    {#                    <div class="ribbon ribbon-top bg-red"> #}
                    {#                        <span class="iconify-inline icon" data-icon="fa6-solid:circle-exclamation"></span> #}
                    {#                    </div> #}
                    <div class="card-status-top bg-primary"></div>
                    <div class="card-header">
                        <h5 class="card-title">{{ article.title }}</h5>
                    </div>
                    {% if article.image is not null %}
                        <div class="card-img-top d-md-none">
                            <img src="{{ article.image.filePath|imagine_filter('optimized', { relative_resize: { widen: 450 } }) }}"/>
                        </div>
                    {% endif %}
                    <div class="card-body">

                        {% if article.image is not null %}
                            <img class="float-start rounded me-2 d-none d-md-block" style="width: 35%" src="{{ article.image.filePath|imagine_filter('optimized', { relative_resize: { widen: 450 } }) }}"/>
                        {% endif %}
                        <div class="card-text">{{ article.content|raw }}</div>
                        <div class="card-text">
                            <small class="text-muted">Erstellt am {{ article.createdAt|format_datetime }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {{ knp_pagination_render(articles) }}
        </div>
        <div class="col-12 col-md-3">
            <div class="row row-cards">
                {% if sponsors|length > 0 %}
                    <div class="col-12">
                        <div class="card">
                            <div class="card-status-top bg-primary"></div>
                            <div class="card-header bg-primary-lt">
                                <h3 class="card-title">
                                    <span class="iconify-inline" data-icon="fa6-solid:handshake"></span>
                                    Sponsoren
                                </h3>
                            </div>
                            <div class="card-body text-center">
                                <div class="row row-cols-2 justify-content-center">
                                    {% for sponsor in sponsors %}
                                        <div class="col mb-2 d-flex align-items-center justify-content-center">
                                            {% set image %}
                                                <img src="{{ sponsor.image.filePath|imagine_filter('optimized', { downscale: { max: [120, 60] } }) }}"/>
                                            {% endset %}

                                            {% if sponsor.url is null %}
                                                {{ image|raw }}
                                            {% else %}
                                                <a href="{{ sponsor.url }}" target="_blank" rel="noreferrer">
                                                    {{ image|raw }}
                                                </a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-12">
                    <div class="card">
                        <div class="card-status-top bg-primary"></div>
                        <div class="card-header">
                            <h3 class="card-title">
                                Nächsten Spiele
                            </h3>
                        </div>
                        <div class="card-body p-2 pb-0" id="handball-spielplan">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
