{% extends '@page/_layout/layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {% if config_has('handball_net_club_id') %}
        <script>
            (function (e, t, n, r, i, s, o) {
                e[i] = e[i] || function () {
                    (e[i].q = e[i].q || []).push(arguments)
                }, e[i].l = 1 * new Date;
                s = t.createElement(n), o = t.getElementsByTagName(n)[0];
                s.async = 1;
                s.src = r;
                o.parentNode.insertBefore(s, o)
            })(window, document, "script", 'https://www.handball.net/widgets/embed/v1.js', "_hb");
        </script>
        <script>
            _hb({
                widget: 'spielplan',
                clubId: '{{ config_get('handball_net_club_id') }}',
                container: 'handball-spielplan'
            })
        </script>
    {% endif %}
{% endblock %}

{% block pageSubBody %}
    <div class="row row-cards">
        <div class="col-12 col-md-3 order-md-0 order-1">
            <div class="row row-cards">
                {% for article in externalArticles %}
                    {% set shortUrl = article.url|short_url(['news']) %}
                    <div class="space-y">
                        <div class="card">
                            {% if article.imageUrl is not null %}
                                <img src="{{ article.imageUrl|imgproxy(300,180) }}" alt="{{ article.title }}" class="card-img-top">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ shortUrl }}" target="_blank">{{ article.title }}</a>
                                </h5>
                                <p class="card-text">{{ article.description }}</p>
                                <p class="card-text">
                                    <small class="text-body-secondary">
                                        Veröffentlicht {{ article.publishedAt|format_date }} - <a href="{{ article.authorUrl }}" target="_blank">{{ article.authorName }}</a>
                                    </small>
                                </p>
                                <twig:bs:button href="{{ shortUrl }}" title="Zum ganzen Artikel" icon="fa-solid:external-link-alt" size="sm" target="_blank"/>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-6 order-md-1 order-0">
            {% for notification in notifications %}
                <twig:bs:alert title="{{ notification.title }}" icon="fa6-solid:circle-info">
                    {{ notification.content|striptags('<br><a><b><strong><span>')|raw }}
                </twig:bs:alert>
            {% endfor %}

            {% for article in articles %}
                {% embed '@page/news/_article.html.twig' with { article: article } %}{% endembed %}
            {% endfor %}
        </div>
        <div class="col-12 col-md-3 order-md-2 order-2">
            <div class="row row-cards">
                {% include '@page/_partials/sponsors.html.twig' %}

                {% if config_has('handball_net_club_id') %}
                    <div class="col-12">
                        <div class="card">
                            <div class="card-status-top bg-primary"></div>
                            <div class="card-header">
                                <h3 class="card-title">
                                    Nächsten Spiele
                                </h3>
                            </div>
                            <div class="card-body p-2 pb-0" id="handball-spielplan"></div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
