{% set tableHeader %}
    {% block tableHeader %}{% endblock %}
{% endset %}

{% set paginationRowWrapper %}
    {% block paginationRowWrapper %}
        {% for object in iterable %}
            {% block tableRow %}{% endblock %}
        {% endfor %}
    {% endblock %}
{% endset %}

{% set searchForm %}
    {% if search is not null %}
        {% block searchFields %}
            {{ form_widget(search) }}
        {% endblock %}
        {% block searchButtons %}
            <div class="row">
                <div class="col col-md-auto ms-auto">
                    <twig:bs:button:group>
                        <twig:bs:button variant="submit">Suchen</twig:bs:button>
                    </twig:bs:button:group>
                </div>
            </div>
        {% endblock %}
    {% endif %}
{% endset %}

<div{{ attributes }}>
    <twig:bs:card>
        <twig:block name="header">
            <twig:bs:card:header :title="title">
                <span class="badge bg-secondary text-white ms-1">
                    {% if iterable is pagination %}
                        {{ iterable.getTotalItemCount }}
                    {% else %}
                        {{ iterable|length }}
                    {% endif %}
                </span>
            </twig:bs:card:header>
        </twig:block>

        <twig:block name="body">
            {% if search is not null %}
                <twig:bs:card:body>
                    {{ form_start(search) }}

                    {{ searchForm }}

                    {{ form_rest(search) }}
                    {{ form_end(search) }}
                </twig:bs:card:body>
            {% endif %}
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap">
                    <thead>
                    <tr>
                        {{ tableHeader }}
                    </tr>
                    </thead>
                    <tbody>
                    {{ paginationRowWrapper }}
                    </tbody>
                </table>
            </div>
        </twig:block>

        <twig:block name="footer">
            {% if iterable is pagination %}
                <twig:bs:card:footer class="d-flex align-items-center">
                    {{ knp_pagination_render(iterable) }}
                </twig:bs:card:footer>
            {% endif %}
        </twig:block>
    </twig:bs:card>
</div>
