{% extends '@admin/_layout/layout.html.twig' %}

{% set pagePreTitle = 'List' %}
{% set pageTitle = 'Link' %}

{% block pageTitleActionsButtons %}
    <a class="btn btn-primary" href="{{ path('app_admin_link_create') }}">Create</a>
{% endblock %}

{% block pageBody %}
    {% embed '_partials/pagination_table.html.twig' with {
        title: 'Links'
    } %}
        {% block paginationHeader %}
            <th class="w-1"></th>
            <th class="w-1">Id</th>
            <th>Name</th>
            <th>URI</th>
            <th></th>
        {% endblock %}
        {% block paginationRow %}
            <td>
                <twig:ux:icon:enabled enabled="{{ object.enabled }}" />
            </td>
            <td>{{ object.id }}</td>
            <td>{{ object.name }}</td>
            <td>{{ object.uri }}</td>
            <td class="text-end">
                <twig:pagination:cta
                        enabled="{{ object.enabled }}"
                        remove="{{ path('app_admin_link_remove', { link: object.id }) }}"
                        edit="{{ path('app_admin_link_edit', { link: object.id }) }}"
                        enable="{{ path('app_admin_link_enable', { link: object.id }) }}"
                        disable="{{ path('app_admin_link_disable', { link: object.id }) }}"
                />
            </td>
        {% endblock %}
    {% endembed %}
{% endblock %}
