{% extends '@admin/_layout/layout.html.twig' %}


{% set pagePreTitle = 'Liste' %}
{% set pageTitle = 'Artikel' %}

{% block pageTitleActionsButtons %}
    <a class="btn btn-primary" href="{{ path('app_admin_article_create') }}">Erstellen</a>
{% endblock %}

{% block pageBody %}
    <twig:pagination:table title="Artikel">
        <twig:block name="tableHeader">
            <th class="w-1"></th>
            <th class="w-1">Id</th>
            <th>Titel</th>
            <th></th>
        </twig:block>
        <twig:block name="tableRow">
            <twig:pagination:row
                    enabled="{{ object.enabled }}"
                    remove="{{ path('app_admin_article_remove', { article: object.id }) }}"
                    edit="{{ path('app_admin_article_edit', { article: object.id }) }}"
                    enable="{{ path('app_admin_article_enable', { article: object.id }) }}"
                    disable="{{ path('app_admin_article_disable', { article: object.id }) }}"
            >
                <td>{{ object.id }}</td>
                <td>{{ object.title }}</td>
            </twig:pagination:row>
        </twig:block>
    </twig:pagination:table>
{% endblock %}
