{% extends '@admin/_layout/layout.html.twig' %}

{% set pagePreTitle = 'List' %}
{% set pageTitle = 'Teams' %}

{% block pageTitleActionsButtons %}
    <a class="btn btn-primary" href="{{ path('app_admin_team_create') }}">Create</a>
{% endblock %}

{% block pageBody %}
    <twig:pagination:table paginationTitle="Teams">
        <twig:block name="tableHeader">
            <th class="w-1"></th>
            <th class="w-1">Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Type</th>
            <th>Saison</th>
            <th>Altersgruppe</th>
            <th class="w-1"></th>
        </twig:block>
        <twig:block name="tableRow">
            <twig:pagination:row
                    enabled="{{ object.enabled }}"
                    remove="{{ path('app_admin_team_remove', { team: object.id }) }}"
                    edit="{{ path('app_admin_team_edit', { team: object.id }) }}"
                    enable="{{ path('app_admin_team_enable', { team: object.id }) }}"
                    disable="{{ path('app_admin_team_disable', { team: object.id }) }}"
            >
                <td>{{ object.id }}</td>
                <td>{{ object.name }}</td>
                <td>{{ object.gender.value }}</td>
                <td>{{ object.ageCategory.value }}</td>
                <td>{{ object.season is null ? '' : object.season.displayName }}</td>
                <td>{{ object.ageGroup is null ? '' : object.ageGroup.displayName }}</td>
            </twig:pagination:row>
        </twig:block>
    </twig:pagination:table>
{% endblock %}
